

<div class="container">
  <div class="row">
    <div class="col-md-3">
   <div class="listWorkouts">
     <h1>Workouts</h1>
     <select ng-model="calendarEvent" ng-options="workouts.workoutName for workouts in all"></select>
       <button type="button" class="btn" ng-click="addEvent()">Add Workout</button>
    </div>
  </div>

<div class="col-md-6">
  <div class="calendar">
    <tab select="renderCalender('myCalendar1');">
      <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
            <button class="btn" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
            <button class="btn" ng-click="changeView('month', 'myCalendar1')">Month</button>
        </div>
      </div>
    <div class="calendar1" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
   </tab>
    </div>
  </div>

<div class="col-md-3">
  <div class="selectedWorkout">
      <h1>Selected Workout</h1>
      <div ng-show="alertMessage != undefined && alertMessage != ''">
        <h2>{{ calendarEvent.workoutName }}</h2>
        <p ng-repeat="activities in calendarEvent.activities">Activity: {{activities.name}}<br>
          Reps: {{ activities.reps }} Sets: {{ activities.sets }} <br> Duration: {{ activities.duration }} minutes</p>
      </div>
    </div>
</div>
</div>
</div>
